<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Archive · Admin Portal</title>
    <link rel="stylesheet" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <div class="portalbody">
        <h1>ADMIN PORTAL</h1>
            <form id="dataForm" action="/upload" enctype="multipart/form-data">
                <label for="file-upload" class="file-upload">
                    Upload a file
                </label>
                <input id="file-upload" name="image" type="file">
                <input type="text" id="title" name="name" placeholder="Title">
                <input type="text" id="description" name="description" placeholder="Description">
                <input type="number" id="year" name="year" placeholder="Year (required)">
                <button onclick="submitForm()">Submit</button>
            </form>
    </div>
    <h3>Archive</h3>
    <div id="dataTable">
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Year</th>
              </tr>
            </thead>
            <tbody>
                <% examples.forEach(example => { %>
                    <tr>
                        <td><%= example.name %></td>
                        <td><%= example.description %></td>
                        <td><%= example.year %></td>
                    </tr>
                <% }) %>
            </tbody>            
          </table>
    </div>
<script src="portal.js"></script>
</body>
</html>